# Copy from .env.local on the Vercel dashboard 
# https://nextjs.org/learn/dashboard-app/setting-up-your-database#create-a-postgres-database
# PostgreSQL 连接配置
POSTGRES_URL="postgresql://postgres:123456@localhost:5432/testdb"
POSTGRES_PRISMA_URL="postgresql://postgres:123456@localhost:5432/testdb?pgbouncer=true&connect_timeout=15"
POSTGRES_URL_NON_POOLING="postgresql://postgres:123456@localhost:5432/testdb?connect_timeout=15"
POSTGRES_USER="postgres"
POSTGRES_HOST="localhost"
POSTGRES_PASSWORD="123456"
POSTGRES_DATABASE="testdb"

# `openssl rand -base64 32`
AUTH_SECRET=
AUTH_URL=http://localhost:3000/api/auth
#
#主机：localhost 或 127.0.0.1
#端口：5432
#数据库名：testdb
#用户名：postgres
#密码：123456
#postgresql://postgres:123456@localhost:5432/testdb
